---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <hr>
      <div class="map"></div>
      <hr>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <script>

    let convertString = function (milisecs) {
      var diff_hours = Math.floor(milisecs / 3600, 1)
      var diff_minutes = (milisecs - 3600 * diff_hours) / 60
      return `${diff_hours}h${diff_minutes}m`
    }

    let getCity = async function (pos) {
      return await fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${pos[0]}&lon=${pos[1]}`)
        .then(res => res.json())
        .then(res => {
          var key_city = Object.keys(res.address).includes("city") ? "city" : (
            Object.keys(res.address).includes("town") ? "town" : (
              Object.keys(res.address).includes("village") ? "village" : null))

          var town = key_city ? new String(res.address[key_city]) : "----"
          var state = new String(res.address["ISO3166-2-lvl4"].split("-")[1])
          return `${town.slice(0, 20)} (${state})`
        })
    }

    var iconMarker = (name, color) => L.divIcon({
      className: 'custom-div-icon',
      html: `<div style='background-color:${color};' class='marker-pin'></div><i class='material-icons-outlined'>${name}</i>`,
      iconSize: [30, 42],
      iconAnchor: [15, 42]
    });

    var here = iconMarker("train", "#b40000")
    var iconTrain = iconMarker("train", "#3d4be1")
    var iconCity = iconMarker("location_city", "#3d4be1")
    var iconShelter = iconMarker("night_shelter", "#3d4be1")

    async function renderMap() {

      const frame = new L.LatLngBounds(new L.LatLng(32, -122.292293), new L.LatLng(45.500295, -73.567149))
      const map = L.map(document.querySelector(".map"), { attributionControl: false });

      var legend = L.control({ position: "bottomright" });
      legend.onAdd = function (map) {
        var div = L.DomUtil.create("div", "legend");
        div.innerHTML += `<h4>Informations</h4>`;
        div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>my_location</i>---- (---)</div></h2>`;
        div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>speed</i>--.-- km/h</div></h2>`;
        div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>skip_next</i>---- (---)</div></h2>`;
        return div;
      };
      legend.addTo(map);

      L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png")
        .addTo(map);
      L.control.scale({ position: 'topright' })
        .addTo(map);
      map.fitBounds(frame);

      var shelterMarkers = new L.FeatureGroup();
      var cityMarkers = new L.FeatureGroup();
      var stationMarkers = new L.FeatureGroup();

      let htmlPage = x => `<div class="city title">${x}</div>`

      cityMarkers.addLayer(L.marker([42.6511674, -73.754968], { icon: iconCity })
        .bindTooltip(htmlPage("Albany")))
      cityMarkers.addLayer(L.marker([41.878773, -87.638622], { icon: iconCity })
        .bindTooltip(htmlPage("Chicago")))
      cityMarkers.addLayer(L.marker([47.597811, -122.329564], { icon: iconCity })
        .bindTooltip(htmlPage("Seattle")))
      cityMarkers.addLayer(L.marker([37.7792588, -122.4193286], { icon: iconCity })
        .bindTooltip(htmlPage("San Francisco")))
      cityMarkers.addLayer(L.marker([34.0536909, -118.242766], { icon: iconCity })
        .bindTooltip(htmlPage("Los Angeles")))
      cityMarkers.addLayer(L.marker([29.946275, -90.078913], { icon: iconCity })
        .bindTooltip(htmlPage("La Nouvelle-Orléans")))
      cityMarkers.addLayer(L.marker([40.750262, -73.992824], { icon: iconCity })
        .bindTooltip(htmlPage("New York")))
      cityMarkers.addLayer(L.marker([45.500295, -73.567149], { icon: iconCity })
        .bindTooltip(htmlPage("Montréal")))
      cityMarkers.addLayer(L.marker([38.898487, -77.005291], { icon: iconCity })
        .bindTooltip(htmlPage("Washington")))
      cityMarkers.addLayer(L.marker([31.7575839, -106.49583], { icon: iconCity })
        .bindTooltip(htmlPage("El Paso")))

      stationMarkers.addLayer(L.marker([42.641298, -73.741554], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Albany-Rensselaer Station</div>`))
      stationMarkers.addLayer(L.marker([41.878773, -87.638622], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Chicago Union Station</div>`))
      stationMarkers.addLayer(L.marker([47.597811, -122.329564], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Seattle King Street</div>`))
      stationMarkers.addLayer(L.marker([37.79370106439311, -122.27162491397662], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Oakland Jack London Station</div>`))
      stationMarkers.addLayer(L.marker([34.055863, -118.234245], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Union Station</div>`))
      stationMarkers.addLayer(L.marker([29.946275, -90.078913], { icon: iconTrain })
        .bindTooltip(`<div class="city title">New-Orleans Station</div>`))
      stationMarkers.addLayer(L.marker([40.750262, -73.992824], { icon: iconTrain })
        .bindTooltip(`<div class="city title">New-York Penn Station</div>`))
      stationMarkers.addLayer(L.marker([45.500295, -73.567149], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Gare Centrale</div>`))
      stationMarkers.addLayer(L.marker([38.898487, -77.005291], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Washington Union Station</div>`))
      stationMarkers.addLayer(L.marker([31.7575839, -106.49583], { icon: iconTrain })
        .bindTooltip(`<div class="city title">Union Depot</div>`))

      map.fitBounds(frame);

      var center_default = map.getCenter()
      var zoom_default = map.getZoom()

      var AlbLog = L.marker([42.6729622, -73.783004], { icon: iconShelter })
        .bindTooltip(`<div class="city title">AirBnB</div>`)
      var ChiLog = L.marker([41.87562082670103, -87.6264550090755], { icon: iconShelter })
        .bindTooltip(`<div class="city title">HI Chicago Hostel</div>`)
      var SeaLog = L.marker([47.7364269, -122.3460506], { icon: iconShelter })
        .bindTooltip(`<div class="city title">Americas Inn and Suite</div>`)
      var SFLog = L.marker([37.7879, -122.411994], { icon: iconShelter })
        .bindTooltip(`<div class="city title">Fitzgerald Hotel Union Square</div>`)
      var LALog = L.marker([34.0442543, -118.3035257], { icon: iconShelter })
        .bindTooltip(`<div class="city title">AirBnB</div>`)
      var EPLog = L.marker([31.8158525, -106.5175854], { icon: iconShelter })
        .bindTooltip(`<div class="city title">AirBnB</div>`)
      var NOLog = L.marker([29.9680541, -90.0923779], { icon: iconShelter })
        .bindTooltip(`<div class="city title">India House Hostel</div>`)
      var WALog = L.marker([38.9217766, -77.042119], { icon: iconShelter })
        .bindTooltip(`<div class="city title">Washington International Student Center</div>`)

      shelterMarkers.addLayer(AlbLog);
      shelterMarkers.addLayer(ChiLog);
      shelterMarkers.addLayer(SeaLog);
      shelterMarkers.addLayer(SFLog);
      shelterMarkers.addLayer(LALog);
      shelterMarkers.addLayer(EPLog);
      shelterMarkers.addLayer(NOLog);
      shelterMarkers.addLayer(WALog);

      map.addLayer(cityMarkers);

      map.on('zoomend', function () {
        if (map.getZoom() < 12) {
          map.removeLayer(shelterMarkers);
          map.removeLayer(stationMarkers);
          map.addLayer(cityMarkers);
        } else {
          map.addLayer(shelterMarkers);
          map.addLayer(stationMarkers);
          map.removeLayer(cityMarkers);
        }
      });

      await fetch(`https://raw.githubusercontent.com/tlecardo/USProject/main/USTracks/Amtrak_tracks.geojson`)
        .then(res => res.json())
        .then(res => {
          new L.geoJSON(res, {
            onEachFeature: function (feature, layer) {
              layer.bindTooltip(
                `<center class="track title">${feature.properties.name}</center>` +
                `<center>${(feature.properties.distance / 1000).toFixed(2)} km</center>` +
                `<center>${convertString(feature.properties.time / 1000)}</center>`,
                { sticky: true, });
            },
            async: true,
            marker_options: { startIconUrl: '', endIconUrl: '', shadowUrl: '' },
            style: { color: "blue", opacity: 0.5, dashArray: "5 10" },
          }).addTo(map);
        })

      var sections = [
        {
          route: "Sunset Limited",
          origin: {
            code: "LAX",
            date: "2024-09-06T22:00:00-07:00"
          },
          dest: {
            code: "NOL",
            date: "2024-09-08T21:40:00-05:00"
          },
        }
      ]

      var today = new Date();
      var cur_section = sections.filter(section => today >= new Date(section.origin.date) && today <= new Date(section.dest.date))

      var stations = await fetch("https://api-v3.amtraker.com/v3/stations")
        .then(res => res.json())
        .then(res => { return res })

      var trains = await fetch("https://api-v3.amtraker.com/v3/trains")
        .then(res => res.json())
        .then(res => { return Object.values(res).flat(Infinity) })
      console.log(trains)

      if (cur_section.length > 0) {

        cur_section = cur_section[0]

        cur_travel = trains
          .filter(value => value.routeName === cur_section.route && value.trainState === "Active")
          .filter(value => {
            var nb_match = value.stations.reduce(
              (prev, cur) => prev + (cur.code === cur_section.dest.code && cur.schDep.includes(cur_section.dest.date))
                || (cur.code === cur_section.origin.code && cur.schDep.includes(cur_section.origin.date)), 0)
            return nb_match === 2
          })[0]

        let cur_pos = [cur_travel.lat, cur_travel.lon]
        var marker = L.marker(cur_pos, { icon: here })
          .addTo(map)

        marker.on('click', function (e) {
          var zoom = map.getZoom()
          map.flyTo(
            zoom === 10 ? center_default : e.latlng,
            zoom === 10 ? zoom_default : 10,
            {
              animate: true,
              duration: 1
            });
        });

        var cur_loc = await getCity(cur_pos)

        var next_travel = stations[cur_section.dest.code]
        let next_pos = [next_travel.lat, next_travel.lon]
        var next_loc = await getCity(next_pos)

        var update_date = new Date(cur_travel.updatedAt)
        var diff_update = new Date(today - update_date)
        var seconds = `${diff_update.getSeconds()}`.padStart(2, "0")
        var minutes = `${diff_update.getMinutes()}`

        legend.onAdd = function (map) {
          var div = L.DomUtil.create("div", "legend");
          div.innerHTML += `<h4>Informations (act. ${minutes}' ${seconds}'')</h4>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>my_location</i>${cur_loc}</div></h2>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>speed</i>${(1.609344 * cur_travel.velocity).toFixed(2)} km/h</div></h2>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>skip_next</i>${next_loc}</div></h2>`;
          return div;
        };
        legend.addTo(map);
      } else {

        var cur_code = "MTR"
        var next_code = "ALB"
        for (let idx = 0; idx < sections.length; idx++) {
          if (new Date(sections[idx].dest.date) <= today && new Date(sections[idx + 1].dest.date) >= today) {
            cur_code = sections[idx].dest.code
            next_code = sections[idx + 1].dest.code
            break
          }
        }

        var cur_station = stations[cur_code]
        var next_term = stations[next_code]

        let cur_pos = [cur_station.lat, cur_station.lon]
        L.marker(cur_pos, { icon: yellowIcon })
          .addTo(map)

        legend.onAdd = function (map) {
          var div = L.DomUtil.create("div", "legend");
          div.innerHTML += `<h4>Informations</h4>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>my_location</i>${cur_station.city} (${cur_station.state})</div></h2>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>speed</i>00.00 km/h</div></h2>`;
          div.innerHTML += `<h2><div class="wrapper"><i class='material-icons-outlined'>skip_next</i>${next_term.city} (${next_term.state})</div></h2>`;
          return div;
        };

        legend.addTo(map);
      }
    }

    renderMap().catch(console.error)
  </script>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Publié par
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            le
            {{ post.date | date: '%d %B %Y' }}
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{" /posts" | relative_url }}">Voir toutes les publications
            &rarr;</a>
        </div>

      </div>
    </div>
  </div>